input{
    margin: 1px;
    padding: 1px;
    border-color: rgb(194, 174, 136) ;
    background-color: bisque;
    border-radius: 50px;
    width: 187px;
    height: 55px;
}

button{
    margin: 1px;
    padding: 1px;
    background-color: bisque;
    border-radius: 50px;
    width: 60px;
    height: 60px;
}
