  #grupo{
            display: flex;
            justify-content: center;
        }
        
        .grupo-item{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 3px solid black;
            margin-bottom: 10px;
        }
        body{
            background-color: rgb(255, 255, 255)
        }